<!DOCTYPE html>
<link href="favicon.ico" rel="shortcut icon">
<html>
    <head>
        <title>Tiny And Pretty</title>
        <meta charset="UTF-8">
        <script src="/lib/vue2.js"></script>
        <script src="/lib/axios.js"></script>
        <script src="/main.js"></script>
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body onload="vm.getTable(), info.fetch()">
    <div id="main">
        <div class="header">
            <h1>Course Assistance</h1>
            <h2 v-cloak>@ {{userid}}</h2>
            <a onclick="SignOut() " style="user-select:none;">Sign Out</a>
        </div>
        <div class="container">
            <div class="card" id="infomation" onclick="expand(this)">
                <h2>Info.</h2>
                <div class="content">
                    <div class="info_panel">
                        <div class="panel_item" v-cloak>UserID : {{userid}}</div>
                        <div class="panel_item" v-cloak>Name : {{username}}</div>
                        <div class="panel_item" v-cloak>Gender : {{gender}}</div>
                        <div class="panel_item" v-cloak>School : {{school}}</div>
                        <div class="panel_item" v-cloak>Major : {{major}}</div>
                        <div class="panel_item" v-cloak>Class : {{classid}}</div>
                    </div>
                </div>
            </div>
            <div class="card" id="schedule" onclick="expand(this)">
                <h2>Sche.</h2>
                <div class="content">
                    <div id = "timetable"> 
                        <div v-for="(value,index) in table">
                            <div v-if = "value[day]!=0">
                                {{index+1}} : {{detail[value[day]].name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="navigation" onclick="">
                <h2>Nav.</h2>
                <div class="content">
                </div>
            </div>
        </div>
        <div id="blur_cover" style="display:none;"></div>
        <div class="card_expand" id="expand" style="display:none;">
            <div class="card_expand_button">
                <button onclick="hide()">Back</button>
            </div>
            <div id="card_detail">
            </div>
        </div>
    </div>
    
        

        <div id="change_info" style="display:none; position:absolute;  
                                    top:15%; left:10%; width:260px; height:360px;
                                    background-color:whitesmoke;
                                    z-index:1002;   border: 10px solid lightsteelblue; 
                                    padding: 16px;  overflow: auto;">
			    <h3>Infomation Update</h3>
                <form>
                    Name:<br> 
                    <input type = "text" v-model="name" style = "width: 160px; height: 16px;"><br>
                    Gender:<br>
                    <select v-model="gender">
                        <option value="1">男</option>
                        <option value="0">女</option>
                    </select><br> 
                    School:<br>
                    <select v-model="school">
                        <option value="311">信息与通信工程学院</option>
                        <option value="312">电子工程学院</option>
                        <option value="313">计算机学院</option>
                        <option value="381">体育部</option>
                        <option value="202">教务处</option>
                        <option value="0">其他</option>
                    </select><br> 
                    Major:<br>
                    <select v-model="major">
                        <option value="80901">计算机科学与技术</option>
                        <option value="80903">网络工程</option>
                        <option value="80910">数据科学与大数据技术</option>
                        <option value="80902">软件工程</option>
                        <option value="0">其他</option>
                    </select><br> 
                    Class:<br> 
                    <input type = "text" v-model="classid" style = "width: 160px; height: 16px;"><br>  
                    <br><br>
                    <button type = "button" @click="update()">Submit</button>
                    <button type = "button" onclick="DivHide()">Cancel</button> 
                </form>
		</div>
        
        <script>
            var ROOT = "http://" + location.host;

            var vm = new Vue({
                el: '#timetable',
                data:{
                    table:[],
                    detail:[],
                    day:1,
                },
                methods:{
                    getTable:function(){
                        this.table = Array.from(Array(14),()=>new Int32Array(7));
                        this.detail = [];
                        this.detail.push('');
                        axiosGetWithToken('/user/schedule/','','fetch',(res)=>{    
                            res.data.detail.forEach(element => {
                                this.detail.push(element)
                            });
                            res.data.basic.forEach(course => {
                                for(var day = 0; day < course.timeCode.length; day++){
                                    var code = course.timeCode[day] << 1;
                                    for(var timeP =0; timeP <14; timeP++){
                                        code >>= 1;
                                        if(code & 0x1 == 1) this.table[timeP][day] = course.pos;
                                    }
                                }
                            });
                        },()=>{},UserExpFuntion);
                        console.log(this.table);
                        console.log(this.detail);
                    },                   
                }
            });

            function expand(obj){
                console.log(obj);
                document.getElementById('expand').style.display="block";
                document.getElementById('blur_cover').style.display="block";
                var expand_detail = document.getElementById('card_detail');
                if(obj.id=='schedule'){
                    expand_detail.innerHTML = '<object type="text/html" data="/user/schedule/" width="100%" height="100%">';
                }
            }

            function hide(){
                document.getElementById('expand').style.display="none"
                document.getElementById('blur_cover').style.display="none"
            }

            var info = new Vue({
                el:'#main',
                data:{
                    userid:'',
                    username:'',
                    gender:'',
                    school:'',
                    major:'',
                    classid:''
                },
                methods: {
                     fetch:function(){
                        axiosGetWithToken('/user/','','fetch',(res)=>{
                            this.userid = res.data.id;
                            this.username = res.data.name;
                            this.gender = res.data.gender;
                            this.school = res.data.school;
                            this.major = res.data.major;
                            this.classid = res.data.class;
                        },()=>{},UserExpFuntion);
                     } 
                },
            });

            var inputchage = new Vue({
                el:'#change_info',
                data:{
                    name:'',
                    gender:1,
                    school:0,
                    major:0,
                    classid:0
                },
                methods:{
                    update:function(){
                        if(this.name == "" || this.classid == ""){
                            alert("empty input!");
                            return;
                        }
                        if(Number(this.classid)<0 || Number(this.classid)>2147483647){
                            alert("classid range from 0 to 2147483647!");
                            return;
                        }
                        var str = "name="+this.name+",gender="+this.gender+",school="+this.school
                                 +",major="+this.major+",class="+this.classid;
                        axiosPostWithToken('/user/','','update',str,(res)=>{
                            if(res.data!="NO_ERROR"){
                                alert(res.data);
                                return;
                            }
                            info.fetch();
                            DivHide();
                        },()=>{},UserExpFuntion);
                    }
                }
            });

            function SignOut(){
                localStorage.removeItem("userid");
                localStorage.removeItem("token");
                localStorage.removeItem('Status');
                alert("Signed Out");

                window.open("http://" + location.host,'_self')
            }

            function DivShow(){
                document.getElementById("change_info").style.display="block";
                document.getElementById("cover").style.display="block";
            }

            function DivHide(){
                document.getElementById("change_info").style.display="none";
                document.getElementById("cover").style.display="none";
            }


            function UserExpFuntion(err){
                if(err.response.status == 401){
                    alert("ACCESS_DENIED");
                }else{
                    alert(err.response.status);
                }
                localStorage.setItem('Next','User');
                window.open(ROOT+"/signin",'_self');
            }
        </script>
    </body>
</html>
