<!DOCTYPE html>
<link href="favicon.ico" rel="shortcut icon">
<html>
    <head>
        <title>Tiny And Pretty</title>
        <script src="/lib/vue2.js"></script>
        <script src="/lib/axios.js"></script>
    </head>
    <body body onload="Authenticate(),tablegui.getList()">
        <h1>TAP SQL Terminal</h1>
        <button id="help" onclick="window.open('http://'+location.host+'/sql/help')">NEDB SQL Info</button>
	    <button id="tap" onclick="window.open('https://github.com/NoUITeam/TinyAndPretty.git')">TAP Git Repo</button>
        <button id="nedb" onclick="window.open('https://github.com/Jianxff/NEDB.git')">NEDB Git Repo</button>
        <div id="gui" style="width: 500px; height: 300px;
                            font-size:medium;font-weight: 700;
                            border: 1px solid; padding: 10px;
                            margin-top:20px;margin-bottom:20px;">
            <div style="width: 20%;height:100%;
                        border: 1px solid;
                        float: left;
                        overflow-y:auto;">
                <table>
                    <thead>Table List</thead>
                    <tr v-for="(item) in tablelist">
                        <td><button @click="getValue(item)">{{item}}</button></td>
                    </tr>
                </table>
		        <div style = "display: inline-block;height:100%;"></div>
            </div>

            <div style="width:77%;height:100%;
                        margin-left: 2%;
                        display: inline-block;
                        border: 1px solid;
                        overflow-y:auto;">
                <table id="table_info" border="2" 
                                        cellpadding="3" cellspacing="2" frame="box"
                                        style="border-collapse: collapse;
                                        border-spacing: 0;
                                        empty-cells: show;
                                        border: 1px solid #cbcbcb;">
                    <thead>{{name}}</thead>
                    <tr>
                        <th v-for="(fieldname) in field">{{fieldname}}</th>
                    </tr>
                    <tr v-for="(value) in detail">
                        <td v-for="(item) in value">{{item}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="console" style="width: 500px;font-size:medium;font-weight: 700;
                                border: 1px solid; padding: 10px;
                                height: auto;" >
            SQL Statement : <br>
            <textarea v-model="inputsql" type= "text" style = "width:98.5%; height: 40px;"></textarea><br>
            <button type = "button" @click="Send()">Send</button>
            <br>
	        <div>
		        <div style = "float:left" v-cloak>Request : {{req}}</div><br>
                <div style = "float:left" v-cloak>ErrorCode : {{msg}}</div><br>
                <div style = "float:left" v-cloak>Count : {{count}}</div><br>
                <div style = "float:left" v-cloak>ReturnValue : {{val}}</div><br>
            </div>

        </div>
        <br>
        <hr align=left width="520px" size=2 >
        <div>
        <h6>
            <table border="0" cellpadding="3" cellspacing="2" frame="box" 
                    style="float:inline-start;width: 520px; font-size:small;">
                <caption style="font-size: large;">Error Code Table</caption>
                <tr>
                    <th>Code</th><th>Description</th><th>Code</th><th>Description</th>
                </tr>
                <tr><td>0</td><td>NO_ERROR</td><td>1</td><td>SYSTEM_ERROR</td>
                <tr><td>2</td><td>SIZE_NOT_ALLOWED</td><td>3</td><td>DIR_ERROR</td></tr>
                <tr><td>4</td><td>FILE_OPEN_ERROR</td><td>5</td><td>FILE_NOT_FOUND</td></tr>
                <tr><td>6</td><td>FILE_DAMAGED</td><td>7</td><td>SQL_FORM_ERROR</td></tr>
                <tr><td>8</td><td>SQL_UNDEFINED</td><td>9</td><td>ACTION_BUSY</td></tr>
                <tr><td>10</td><td>TABLE_EXIST</td><td>11</td><td>TABLE_NOT_FOUND</td></tr>
                <tr><td>12</td><td>TABLE_NUM_REACH_LIMIT</td><td>13</td><td>PARAM_EMPTY</td></tr>
                <tr><td>14</td><td>PARAM_FORM_ERROR</td><td>15</td><td>PARAM_NOT_FOUND</td></tr>
                <tr><td>16</td><td>PARAM_NUM_MISMATCH</td><td>17</td><td>VALUE_EMPTY</td></tr>
                <tr><td>18</td><td>TYPE_UNDEFINED</td><td>19</td><td>TYPE_INT_MISMATCH</td></tr>
                <tr><td>20</td><td>TYPE_INT64_MISMATCH</td><td>21</td><td>TYPE_REAL_MISMATCH</td></tr>
                <tr><td>22</td><td>TYPE_INT_OVERFLOW</td><td>23</td><td>TYPE_INT64_OVERFLOW</td></tr>
                <tr><td>24</td><td>TYPE_REAL_OVERFLOW</td><td>25</td><td>TYPE_TEXT_OVERFLOW</td></tr>
                <tr><td>26</td><td>TYPE_LONGTEXT_OVERFLOW</td><td>27</td><td>KEY_TYPE_NOT_ALLOWED</td></tr>
                <tr><td>28</td><td>KEY_VAL_EXIST</td><td>29</td><td>KEY_VAL_REQUIRED</td></tr>
                <tr><td>30</td><td>KEY_VAL_CHANGE_NOT_ALLOWED</td><td>31</td><td>DATA_NOT_FOUND</td></tr>
            </table>
        </h6>
        </div>
        <h4>
            <div id="cover" style="display:block;position:absolute;  
                            top:0%; left:0%; width:100%;height:100%;
                            background-color: white; 
                            z-index:1001;">Loading...
            </div>
        </h4>
        <script>
            var userid = localStorage.getItem("Userid");
            var token = localStorage.getItem("Token");
            var ROOT = "http://" + location.host;

            var sqlcmd = new Vue({
                el:'#console',
                data:{
                    inputsql:'',
                    req:'',
                    msg:'',
                    count:'',
                    val:''
                },
                methods:{
                    Clear:function(){
                        this.inputsql = this.msg = this.count = this.val = '';
                    },
                    Send:function(){
                        if(this.inputsql=='') return;
                        console.log(this.inputsql);
                        axios.post('/sql',this.inputsql,{
                            headers:{
                                'Content-type': 'multipart/form-data',
                                'Function': 'run',
                                'Userid':userid,
                                'Token':token
                            }
                        })
                        .then(res => {
                            console.log(res);
                            this.req = this.inputsql;
                            this.Clear();
                            this.msg = res.data.msg;
                            this.count = res.data.count;
                            this.val = res.data.retVal;
                        })
                        .catch(err => {
                            this.Clear();
                            this.req = '';
                            if(err.response.status == 401){
                                alert("ACCESS_DENIED");
                                window.open(ROOT+"/signin",'_self');
                            }else if(err.response.status == 400){
                                alert("BAD_REQUEST");
                            }
                        });
                    },
                }
            });

            var tablegui = new Vue({
                el:'#gui',
                data:{
                    tablelist:[],
                    name:'',
                    field:[],
                    detail:[]
                },
                methods:{
                    getList:function(){
                        axios.get('/sql',{
                            headers:{
                                'Content-type': 'multipart/form-data',
                                'Function': 'list',
                                'Token':localStorage.getItem('Token'),
                                'Userid':localStorage.getItem('Userid')
                            }
                        })
                        .then(res => {
                            console.log(res);
                            this.tablelist = res.data.list;
                            console.log()
                            document.getElementById("cover").style.display="none";
                        }) 
                        .catch(err => {
                            console.error(err); 
                            document.write(err.response.data);
                        })
                    },

                    getValue:function(tablename){
                        axios.get('/sql',{
                            params:{
                                table:tablename
                            },
                            headers:{
                                'Content-type': 'multipart/form-data',
                                'Function': 'detail',
                                'Token':localStorage.getItem('Token'),
                                'Userid':localStorage.getItem('Userid')
                            }
                        })
                        .then(res => {
                            console.log(res);
                            this.name = res.data.name;
                            this.field = res.data.field.split(",");
                            this.detail = [];
                            var values = res.data.data.split(";");
                            for(var i=0;i<values.length;i++){
                                this.detail.push(values[i].split(","));
                            }
                            document.getElementById("cover").style.display="none";
                        }) 
                        .catch(err => {
                            console.error(err); 
                            document.write(err.response.data);
                        }) 
                    }
                }
            });


            function Authenticate(){
                axios.get('/sql',{
                    headers:{
                        'Content-type': 'multipart/form-data',
                        'Function': 'authenticate',
                        'Token':localStorage.getItem('Token'),
                        'Userid':localStorage.getItem('Userid')
                    }
                })
                .then(res => {
                    console.log(res);
                    document.getElementById("cover").style.display="none";
                })
                .catch(err => {
                    console.error(err); 
                    document.write(err.response.data);
                })
            }
        </script>
        <script type =  "text/javascript" src = "sql/terminal.js"></script>
    </body>
</html>
